<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= link_to inquiry.name, refinery.inquiries_admin_inquiry_path(inquiry) %> <%= t('.said') %>
    <span class="preview"><%= truncate(strip_tags(sanitize(inquiry.message)), :length => 60) -%></span>
  </span>
  <span class='actions'>
    <%= action_icon :delete,
                    refinery.inquiries_admin_inquiry_path(inquiry),
                    t('refinery.inquiries.admin.inquiries.delete'),
                    :class => "cancel confirm-delete",
                    :data => {
                        :confirm => t('refinery.admin.delete.message', :title => inquiry.name)
                    },
                    :method => :delete -%>

      <%= action_icon :preview,
                      refinery.inquiries_admin_inquiry_path(inquiry),
                      t('.read_inquiry') -%>

      <% if inquiry.spam? %>
      <%= action_icon :email,
                      refinery.toggle_spam_inquiries_admin_inquiry_path(inquiry),
                      t('.mark_as_spam') -%>
    <% else %>
      <%= action_icon :spam,
                      refinery.toggle_spam_inquiries_admin_inquiry_path(inquiry),
                      t('.mark_as_spam') -%>
    <% end %>
  </span>
</li>
