<div id='actions'>
  <ul>
    <li>
      <%= render "/refinery/admin/search", :url => request.path.gsub("//", "/") %>
    </li>
    <li <%= "class='selected'" if params[:action] == "index" %>>
      <%= link_to t('.inbox'), refinery.inquiries_admin_inquiries_path, :class => "email_icon" %>
    </li>
    <li <%= "class='selected'" if params[:action] == "spam" %>>
      <% if @spam_count > 0  %>
        <%= link_to "#{t('.spam')} (#{@spam_count})", refinery.spam_inquiries_admin_inquiries_path, :class => "spam_icon" %>
      <% else %>
        <%= link_to t('.spam'), refinery.spam_inquiries_admin_inquiries_path, :class => "spam_empty_icon" %>
      <% end %>
    </li>
    <li>
      <%= link_to t('.update_notified'),
                    refinery.edit_inquiries_admin_setting_path(:inquiry_notification_recipients, :dialog => true, :height => 300),
                    :class => "user_comment_icon" %>
    </li>
    <li>
      <%= link_to t('.edit_confirmation_email'),
                  refinery.edit_inquiries_admin_setting_path(:inquiry_confirmation_body, :dialog => true),
                  :class => "edit_email_icon" %>
    </li>
  </ul>
</div>
