<%= form_for [refinery, :inquiries, inquiry] do |f| %>
  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => inquiry,
               :include_object_name => true
             } %>
  <div class="field">
    <%= f.label :name, :class => 'placeholder-fallback required' %>
    <%= f.text_field :name, :class => 'text', :required => 'required',
      :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </div>
  <div class="field">
    <%= f.label :email, :class => 'placeholder-fallback required' %>
    <%= f.email_field :email, :class => 'text email', :required => 'required',
      :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </div>

  <% if Refinery::Inquiries.show_phone_number_field %>
    <div class="field">
      <%= f.label :phone, :class => 'placeholder-fallback' %>
      <%= f.text_field :phone, :class => 'text phone',
        :placeholder => (t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  <% end %>

  <div class='field message_field'>
    <%= f.label :message, :class => 'placeholder-fallback required' %>
    <%= f.text_area :message, :rows => 8, :required => 'required',
      :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </div>
  <div class="actions">
    <%= f.submit t('.send') %>
    <%= link_to t('.privacy_policy'), "/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
  </div>
<% end %>
